.header-banner__body {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.185em;
  line-height: 26px;
  text-transform: uppercase;

  @media (--tablet) {
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 16px;
  }
}
