<div class="header-banner">

  <div class="header-banner__top">
    <div class="o-wrapper">
      <div class="l-flex l-flex--space-between">
        <div class="">
          Buttons
        </div>
        <div class="">
          Dropdown
        </div>
      </div>
    </div>
  </div>

  <div class="header-banner__bottom">
    <div class="o-wrapper">
      <div class="l-flex l-flex--space-between">
        <div class="">
          Buttons
        </div>
        <div>
          <span class="header-banner__body">Announce something here</span>
        </div>
        <div class="">
          Dropdown
        </div>
      </div>
    </div>
  </div>

</div>
