:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-nero: #191919;
  --color-shadyLady: #979797;
  --color-pattensBlue: #eaf0f6;
  --color-linkWater: #ced9e4;
  --color-arapawa: #2d4966;
  --color-cerulean: #0374AD;
  --color-whiteSmoke: #eaeaea;
}
