.u-hide-mobile {
  display: none !important;

  @media (--tablet) {
    display: block !important;
  }
}

.u-hide-tablet {
  display: none !important;

  @media (--desktop) {
    display: block !important;
  }
}
