{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "global-require": "off"
  }
}
