/.env
/.idea
/vendor

# Craft runtime and backups folders
# ----------------------------------------------------------------------
/storage/*

# Uploaded files
# ----------------------------------------------------------------------
/web/cms/*

# BUILD FILES
# ----------------------------------------------------------------------
/node_modules/*
/build/*
/yarn-error.log
/npm-debug.log

# Misc files
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db

# COMPILED FILES
# ----------------------------------------------------------------------
/web/js/*
/web/css/*
/web/mix-manifest.json
