{% set navItems = [
  {
    linkUrl: '/',
    label: 'Home'
  },
  {
    linkUrl: '',
    label: 'Collections'
  },
  {
    linkUrl: '/',
    label: 'Lookbook'
  },
  {
    linkUrl: '/',
    label: 'About'
  }
] %}

<ul class="l-flex l-flex--space-between header-nav">
  {% for nav in navItems %}
    {% set linkUrl = nav.linkUrl %}
    {% set label = nav.label %}

    <li class="header-nav__item">
      <a
        {% if linkUrl|length %}href="{{ linkUrl }}"{% endif %}
        {% if label == 'Collections' %}
          class="header-nav__mega-menu-opener js-mega-menu-opener"
          menu-type="{{ label }}"
        {% endif %}>
        {{ label }}
      </a>
      {% if label == 'Collections' %}
        {% include 'components/header-menu/components/mega-menu-bridge' with {
          menuType: label,
        } %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
