{% set currencies = [
  {
    url: '/',
    value: 'UK',
    label: 'GB',
  },
  {
    url: '/',
    value: 'US',
    label: 'USD'
  }
] %}

<div class="l-flex currency-picker">
  {% for currency in currencies %}
    <div class="currency-picker__item">
      {% include 'components/small-button' with {
        url: currency.url,
        value: currency.value,
        label: currency.label,
      } %}
    </div>
  {% endfor %}
</div>
