<div class="l-flex currency-buttons">
  <div class="currency-buttons__item">
    {% include 'components/small-button' %}
  </div>
  <div class="currency-buttons__item">
    {% include 'components/small-button' %}
  </div>
</div>
