<div class="header-menu">
  <div class="o-wrapper">
    <div class="l-flex l-flex--space-between l-flex--middle">
      <div class="u-show-tablet header-menu__item">
        <div class="header-menu__opener">
          <img src="/assets/svgs/drawer.svg" class="o-icon" alt="Icon Drawer" />
        </div>
      </div>

      <div class="header-menu__item header-menu__item--logo">
        <a href="/">
          <img src="/assets/svgs/logo.svg" class="header-menu__logo" alt="Logo" />
        </a>
      </div>

      <div class="u-hide-tablet header-menu__item header-menu__item--nav">
        {% include 'components/header-menu/components/header-nav' %}
      </div>

      <div class="header-menu__item">
        <div class="l-flex l-flex--end">
          {% include 'components/header-menu/components/header-ui' %}
        </div>
      </div>
    </div>
  </div>

  {% include 'components/header-menu/components/mega-menu' %}
</div>
