<div class="l-flex l-flex--middle header-banner__top">
  <div class="o-wrapper o-wrapper--full-width">
    <div class="l-flex l-flex--space-between">
      <div>
        {% include 'components/header-banner/components/currency-picker' %}
      </div>
      <div>
        {% include 'components/header-banner/components/language-selector' %}
      </div>
    </div>
  </div>
</div>
