.l-flex {
  display: flex;
}

.l-flex--middle {
  align-items: center;
}

.l-flex--center-middle {
  align-items: center;
  justify-content: center;
}

.l-flex--end {
  justify-content: flex-end;
}

.l-flex--space-between {
  justify-content: space-between;
}

.l-flex--column {
  flex-direction: column;
}
