<div class="cart js-cart">
  <div class="cart__container">
    <h3>Your Cart</h3>
    <ul class="cart__list">
      {% for i in 0..1 %}
        <li class="cart__item">
          <div class="l-flex">
            <div class="cart__item-thumbnail">
              <img src="/assets/images/image-tiny.jpg" />
            </div>
            <div class="cart__item-details">
              <div class="l-flex l-flex--space-between">
                <h5 class="cart__item-heading">Product Title</h5>
                <button class="cart__item-remove">
                  <img
                    src="/assets/svgs/close-tiny.svg"
                    class="cart__remove-icon" />
                </button>
              </div>
              <span class="cart__item-category">Variant name</span>
              {% include 'components/header-menu/components/quantity' %}
              <span class="cart__item-price">£60.00</span>
          </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% include 'components/button' with {
      url: '/',
      label: 'Checkout',
    } %}
  </div>
</div>
