{% set label = 'UK' %}

<div class="language-selector">
  <div class="l-flex l-flex--space-between l-flex--middle language-selector__wrapper">
    <span class="language-selector__label">{{ label }}</span>
    <img src="/assets/svgs/down.svg" width="14" />
  </div>
</div>
