{% set label = 'UK' %}

<div class="language-selector">
  <div class="l-flex l-flex--space-between l-flex--middle language-selector__wrapper">
    <span class="language-selector__label">{{ label }}</span>
    <img src="/assets/svgs/down.svg" width="14" />
  </div>
</div>

{# <span
  class="language-select"
  tabindex="0"
  data-cycle="false"
  data-links="false"
  data-links-external="false"
  data-placeholder-option="false"
  data-filter="">

  <span class="sod_label EUR">EUR</span>
  <span class="sod_list_wrapper">
    <span class="sod_list">
      <span class="sod_option" title="GBP" data-value="GBP">GBP</span>
      <span class="sod_option  selected active" title="EUR" data-value="EUR">EUR</span>
      <span class="sod_option" title="AUD" data-value="AUD">AUD</span>
      <span class="sod_option" title="JPY" data-value="JPY">JPY</span>
      <span class="sod_option" title="HKD" data-value="HKD">HKD</span>
      <span class="sod_option" title="CNY" data-value="CNY">CNY</span>
      <span class="sod_option" title="BRL" data-value="BRL">BRL</span>
    </span>
  </span>

  <select class="currency-picker desktop" name="currencies">
    <option value="GBP" selected="selected">GBP</option>
    <option value="EUR">EUR</option>
    <option value="AUD">AUD</option>
    <option value="JPY">JPY</option>
    <option value="HKD">HKD</option>
    <option value="CNY">CNY</option>
    <option value="BRL">BRL</option>
  </select>
</span> #}
