<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>WE MAKE WEBSITES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="description" content="WE MAKE WEBSITES"/>

    {# <link media="all" rel="stylesheet" href="{{ mix('css/main.css') }}"> #}
  </head>

  <body>
    <div id="app">
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
    </div>

    {# <script type="text/javascript" src="{{ mix('js/manifest.js') }}"></script>
    <script type="text/javascript" src="{{ mix('js/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ mix('js/main.js') }}"></script> #}
  </body>
</html>
