.header-banner__bottom {
  height: 35px;

  @media (--tablet) {
    height: 50px;
  }
}

.header-banner__bottom {
  background-color: var(--color-pattensBlue);
}

.header-banner__bottom-item {
  flex: 1;

  &:nth-child(2) {
    flex: 2;
    min-width: 320px;
    text-align: center;
  }

  &:last-child {
    text-align: right;
  }
}
