{% set announcement = 'Announce something here' %}

<div class="l-flex l-flex--middle header-banner__bottom">
  <div class="o-wrapper o-wrapper--full-width">
    <div class="l-flex l-flex--space-between l-flex--middle">
      <div class="header-banner__bottom-item">
        <div class="u-hide-mobile">
          {% include 'components/header-banner/components/currency-picker' %}
        </div>
      </div>
      <div class="header-banner__bottom-item">
        <span class="header-banner__body">{{ announcement }}</span>
      </div>
      <div class="header-banner__bottom-item">
        <div class="u-hide-mobile">
          {% include 'components/header-banner/components/language-selector' %}
        </div>
      </div>
    </div>
  </div>
</div>
