.o-wrapper {
  padding: 0 var(--spacing);

  @media (--desktop) {
    padding: 0 var(--spacing-large);
  }

  @media (--wide) {
    padding: 0 var(--spacing-huge);
  }
}

.o-wrapper--full-width {
  width: 100%;
}
