.carousel {
  height: 100%;

  & .slick-slider,
  & .slick-slider > div,
  & .slick-slider > div > div,
  & .slick-slider > div > div > div,
  & .slick-slider > div > div > div > div, {
    height: 100%;
  }

  & .slick-dots {
    align-items: center;
    background-color: tranparent;
    bottom: 18px;
    display: flex;
    justify-content: center;
    height: 16px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    @media (--tablet) {
      bottom: 43px;
    }
  }

  & .slick-dots li {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 4px;
    position: relative;
    height: 16px;
    width: 16px;
  }

  & .slick-dots li button {
    background: transparent !important;
    border: 0;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 100%;
    outline: none;
    padding: 0;
    position: relative;
    width: 100%;

    &:before {
      background-color: var(--color-white);
      border: 0;
      border-radius: 50%;
      content: '';
      height: 12px;
      left: 50%;
      opacity: 0.6;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s;
      width: 12px;
    }

    &:hover:before,
    &:focus:before {
      background-color: var(--color-white);
      height: 16px;
      opacity: 1;
      width: 16px;
    }
  }

  & .slick-dots li.slick-active button:before {
    background-color: var(--color-white);
    height: 16px;
    opacity: 1;
    width: 16px;
  }
}

.carousel__arrow {
  cursor: pointer;
  display: none;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  width: 32px;
  z-index: 2;

  @media (--desktop) {
    display: block;
  }

  &--prev {
    left: var(--spacing);

    @media (--desktop) {
      left: var(--spacing-large);
    }

    @media (--wide) {
      left: var(--spacing-huge);
    }
  }

  &--next {
    right: var(--spacing);

    @media (--desktop) {
      right: var(--spacing-large);
    }

    @media (--wide) {
      right: var(--spacing-huge);
    }
  }
}

.carousel__item {
  backface-visibility: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.carousel__overlay {
  backface-visibility: hidden;
  background: var(--color-black);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0.25;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.carousel__content {
  backface-visibility: hidden;
  color: var(--color-white);
  height: 100%;
  margin: 0 var(--spacing);
  position: relative;
  text-align: center;
  user-select: text;
  z-index: 2;

  @media (--tablet) {
    margin: 0 auto;
    max-width: 50%;
  }
}

.carousel__body {
  margin-bottom: 29px;

  @media (--tablet) {
    margin-bottom: 41px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
