<ul class="l-flex header-ui">
  <li class="u-hide-mobile header-ui__item">
    <a href="/">
      <img src="/assets/svgs/search.svg" class="o-icon" alt="Icon Search" />
    </a>
  </li>
  <li class="u-hide-mobile header-ui__item">
    <a href="/">
      <img src="/assets/svgs/profile.svg" class="o-icon" alt="Icon Profile" />
    </a>
  </li>
  <li class="u-hide-mobile header-ui__item">
    <a href="/">
      <img src="/assets/svgs/heart.svg" class="o-icon" alt="Icon Heart" />
    </a>
  </li>
  <li class="header-ui__item">
    <img
      src="/assets/svgs/bag.svg"
      class="o-icon header-ui__cart-opener js-cart-opener"
      alt="Icon Bag" />

    {% include 'components/header-menu/components/cart' %}
  </li>
</ul>
