<ul class="l-flex header-ui">
  <li class="u-hide-mobile header-ui__item">
    <a href="/">
      <img src="/assets/svgs/search.svg" class="o-icon" />
    </a>
  </li>
  <li class="u-hide-mobile header-ui__item">
    <a href="/">
      <img src="/assets/svgs/profile.svg" class="o-icon" />
    </a>
  </li>
  <li class="u-hide-mobile header-ui__item">
    <a href="/">
      <img src="/assets/svgs/heart.svg" class="o-icon" />
    </a>
  </li>
  <li class="header-ui__item">
    <img src="/assets/svgs/bag.svg" class="o-icon header-ui__cart-opener js-cart-opener" />

    {% include 'components/header-menu/components/cart' %}
  </li>
</ul>
